<div class="wrapper" id="marquee" class="marquee">
  <div id="formContent">
    <h2 class="underlineHover"  routerLink="/login"  routerLinkActive="active"> Sign In </h2>
    <h2 class="underlineHover"  routerLink="/signup"  routerLinkActive="active">Sign Up </h2>
    <router-outlet></router-outlet>
  </div>
</div>
<div style="margin-top: 50px;background-color: #003B5D;height: 600px;">
  <div class="container">
    <div class="row">
      <div class="col-sm">
          <img src="../../assets/img/logo1.png">
          <br />
          <hr>
          <p style="color:white;">
              CMR College of Engineering & Technology (CMRCET for short) is sponsored by the MGR Educational Society, which was established in 2002. The College is situated 20 Km away from Secunderabad Railway Station on the Hyderabad - Nagpur National Highway (Medchal Road), Telangana, India.
          </p>
      </div>
      <hr>
      <div class="col-sm">
      <ul style="line-height: 2;color: #fff">
        <li>
            <a href="https://www.cmrcet.ac.in/Activities/Newsletter" target="_blank" style="color: #fff">
                News Letters
            </a>
        </li>
        
        <li>
            <a href="https://www.cmrcet.ac.in/Sections/Sports" target="_blank" style="color: #fff">
                Sports & Games
            </a>
        </li>
        <li>
            <a href="https://www.cmrcet.ac.in/Library" target="_blank" style="color: #fff">
                Digital Library
            </a>
        </li>
        
        <li>
            <a href="https://www.cmrcet.ac.in/Activities/StudentActivities" target="_blank" style="color:#fff">
                Student Activities
            </a>
        </li>
        <li>
            <a href="https://www.cmrcet.ac.in/Activities/IncubationCenter" target="_blank" style="color: #fff">
                Incubation center
            </a>
        </li>
        <li>
            <a href="http://www.govr.today/tours/ind/cmr/cmrcet/index.html" target="_blank" style="color: #fff">
                Virtual Tour
            </a>
        </li>
    </ul>
    <hr>
    <div class="col-sm">
    <p style="color: white;">CMR College of Engineering & Technology Kandlakoya(v), Medchal Road Hyderabad, Telangana, India - 501401,</p>
    <p style="color: white;">Telephone: 08418 - 200699.</p>
    <p style="color: white;">Email: info@cmrcet.ac.in </p>
  </div>
  </div>
    </div>
  </div>
</div>